* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f1d4b3;
  overflow: hidden;
  color: #292218;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 972px;
  height: 636px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 7fr 4fr;
  grid-template-rows: 59px 1fr;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
}

footer {
  width: min(972px, 100%);
  font-size: 12px;
  opacity: 0.5;
  margin-top: 12px;
}

h1 {
  font-size: 128px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

@media (max-height: 950px) {
  h1 {
    top: 5%;
  }
}

@media (max-height: 916px) {
  h1 {
    top: 3.5%;
  }
}

@media (max-height: 883px) {
  h1 {
    top: 2.5%;
  }
}

@media (max-height: 850px) {
  h1 {
    top: 0%;
  }
}

@media (max-height: 800px) {
  h1 {
    top: -3%;
  }
}
